/* Import Google Fonts and define custom font face */
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');


.nav-bar {
  width: 100%;
  min-width: 560px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/banner-scroll.png') center/contain no-repeat;
  padding: 10px;
  z-index: 30;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

#nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  
}

.nav-button {
  font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
  font-size: 185%;
  font-weight: bold;
  margin: 0.3rem;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: #55555500;
  border: none;
  color: rgb(27, 26, 26);
  cursor: pointer;
  z-index: 4;
  
}

.nav-logo {
  width: auto; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  margin-top: 1rem;

}

/* Style for the logo button */
.nav-logo-button {
  width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  margin: 0 10px; /* Adjust margins as needed */
  background-image: url('../images/letterhead.png'); /* Replace with your logo image path */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}